html {
    font-size: 22px
}

body {
    background-color: #610F7F;  
    color: #42CAFD;
    /* I used the indigo background color, so that the words on my page can stand out better. */
/* I used the Vivid sky blue to make the letters on page more visible and to give it a pop. */
}

a {
    color: #0F0E0E;
    /* I used the Night color to show that these links that are in that color have never been visited. */
}

a:visited {
    color: #FCEFEF;
    /* I used the Lavender blush  to make the link letters different than the rest of the letters on the page.  */
}

a:hover, a:active {
    color: #FF6B6B;
    /* I used light red  for the active hover, so that it can stand out better to the users eyes. */
}

table, tr, th, caption {
    border: 4px solid #FF6B6B;
    /* I used the light red for my border to make it pop more and I made it thicker to be more visible to the eye. */
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    /* The padding gives space outside the element */
}

#boxmodel {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
/* The number of the specifity value is 100. My understanding is that the higher number will be targeted.  */
}
